target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
.mvn/
mvnw.cmd
mvnw

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

application.properties

km2.txt
logs.log
logs.log.2018-04-18.0.gz
logs.log.2018-04-22.0.gz
logs.log.2018-04-23.0.gz
src/main/resources/templates/temp.html
