<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <title>快递业务</title>

    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>


</head>
<body>
<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page">
        <nav class="bar bar-tab">
            <a class="tab-item external " href="/user/index" external>
                <span class="icon icon-home"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item external active" href="/user/exIndex" external>
                <span class="icon icon-browser"></span>
                <span class="tab-label">快递</span>
            </a>
            <a class="tab-item external" href="/user/cart" external>
                <span class="icon icon-app"></span>
                <span class="tab-label">商城</span>
            </a>
            <a class="tab-item external " href="/user/orderList" external>
                <span class="icon icon-cart"></span>
                <span class="tab-label">订单</span>
            </a>
            <a class="tab-item external " href="/user/member" external>
                <span class="icon icon-me"></span>
                <span class="tab-label">我的</span>
            </a>
        </nav>
        <div class="content">
            <div class="buttons-tab">
                <a href="#tab1" class="tab-link active button">寄快递</a>
                <a href="#tab2" class="tab-link button">取快递</a>
                <a href="#tab3" class="tab-link button">查订单</a>
            </div>
            <div class="tabs">
                <div id="tab1" class="tab active">
                    <div class="content-padded" th:if="${regionConfig}">
                        <p style="color: red" th:text="${regionConfig.deliveryExplain}"></p>
                    </div>
                    <form action="/user/newDelivery" method="post" id="newDelivery1">
                        <div class="list-block">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">寄件人</div>
                                            <div class="item-input">
                                                <input type="text" name="from" placeholder="应法律要求请填写真名">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">身份证号</div>
                                            <div class="item-input">
                                                <input type="text" name="personalId" placeholder="应法律要求请填写身份证号">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">寄件电话</div>
                                            <div class="item-input">
                                                <input type="text" name="fromPhone" th:value="${session.user.phone}"
                                                       placeholder="请输入...">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">收件人</div>
                                            <div class="item-input">
                                                <input type="text" name="to" placeholder="请输入...">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">收件电话</div>
                                            <div class="item-input">
                                                <input type="text" name="toPhone" placeholder="请输入...">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">快件物品</div>
                                            <div class="item-input">
                                                <input type="text" name="whatIs" placeholder="衣服、鞋子...">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--<li>-->
                                    <!--<div class="item-content">-->
                                        <!--<div class="item-media"><i class="icon icon-form-name"></i></div>-->
                                        <!--<div class="item-inner">-->
                                            <!--<div class="item-title label">费用</div>-->
                                            <!--<div class="item-input">-->
                                                <!--<input type="text" name="fee" placeholder="请跟老板确认">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-gender"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">预约时间</div>
                                            <div class="item-input">
                                                <select name="bookPeriod">
                                                    <option th:each="per:${deliver_periods}" th:text="${per.name}" th:value="${per.id}">上午 08:00~12:00</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-gender"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">省市信息</div>
                                            <div class="item-input">
                                                <select onchange="vChange(this.value)" name="province">
                                                    <option value="-1">请选择省份</option>
                                                    <option th:each="province:${provinces}" th:value="${province.id}" th:text="${province.province}">上午 </option>
                                                </select>
                                                <select style="display: none" name="city" id="cityMaps" onchange="cityChange(this.value)">
                                                    <option value="-1">请先选择省份</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="align-top">
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-comment"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">详细地址</div>
                                            <div class="item-input">
                                                <textarea name="toWhere"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <p style="color: red" id="notice"></p>

                        <div class="content-block">
                            <p><a onclick="submitForm('newDelivery1')" class="button button-big">提交订单</a></p>
                        </div>
                    </form>
                </div>
                <div id="tab2" class="tab">
                    <div class="content-padded" th:if="${regionConfig}">
                        <p style="color: red" th:text="${regionConfig.fetchExplain}"></p>
                    </div>
                    <form action="/user/newFetchThing" method="post" id="newDelivery2">
                        <div class="list-block">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">取件姓名</div>
                                            <div class="item-input">
                                                <input type="text" name="from" th:value="${session.user.userName}" placeholder="请输入...">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">取件电话</div>
                                            <div class="item-input">
                                                <input type="text" name="fromPhone" th:value="${session.user.phone}" placeholder="请输入...">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-gender"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">预约配送</div>
                                            <div class="item-input">
                                                <select name="fetch_periods" th:name="bookPeriod">
                                                    <option th:each="per:${fetch_periods}" th:text="${per.name}" th:value="${per.id}">上午 08:00~12:00</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="align-top">
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-comment"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">通知短信</div>
                                            <div class="item-input">
                                                <textarea name="sms" placeholder="此处粘贴通知短信"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="align-top">
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-comment"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">配送地址</div>
                                            <div class="item-input">
                                                <textarea name="toWhere" placeholder="请填写详细配送地址"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="content-block">
                            <p><a onclick="submitForm('newDelivery2')" class="button button-big">提交订单</a></p>
                        </div>
                    </form>
                </div>
                <div id="tab3" class="tab">
                    <div class="list-block media-list">
                        <ul>
                            <li th:each="order:${orders}">
                                <a th:href="${'/user/confirmExpressOrder?unifiedId='+order.unifiedId}"
                                   class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title" th:text="${order.type==0?'寄快递':'取快递'}">取快递</div>
                                            <div class="item-after" th:text="${order.createdTime}">2018-04-27 17:14:00
                                            </div>
                                        </div>
                                        <div class="item-subtitle"
                                             th:text="${order.hasPay?'已支付':(order.canceled?'已取消':'未支付')}">已支付
                                        </div>
                                        <!--<div class="item-text" th:text="${order.type==0'完成':''}">正在取快递中</div>-->
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<script>
    $.init();

    function submitForm(id) {
        $('#'+id).submit()
        $.alert("订单提交中...");
    }

    function vChange(v){
        $("#cityMaps").show();

        if(v < 0){
            $("#cityMaps").html('');
            return;
        }
        $.getJSON('/user/getCityByProvince','id='+v,function (data) {
            $("#cityMaps").html('');
            for(item in data){
                if(item == 0){
                    cityChange(data[item].id);
                }
                $("#cityMaps").append("<option value='"+data[item].id+"'>"+data[item].city+"</option>")
            }
        })
    }

    function cityChange(v) {
        $.getJSON('/user/getCity','id='+v,function (data) {
            $("#notice").text('起送费'+data.fkg+',续重'+data.xkg+'/kg');
        })
    }
</script>
</body>
</html>

